body {
  font-family: 'Georgia', serif; /* Sophisticated font like the New York Times */
}

.App {
  /* text-align: center; */
  background-color: white;
  color: black;
}

header {
  padding: 20px;
  font-size: 1.75em;
}

hr {
  border: 0;
  height: 1px;
  background: black;
  margin: 20px 0;
}

.switch-container {
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.switch-container label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.switch-container label span {
  margin-right: 10px;
}

.react-switch {
  position: relative;
  transform: scale(0.6);
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: normal;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.react-switch:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.chart-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 500px;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}
